@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage {
  background: linear-gradient(119.37deg, #EADAEC -30.03%, #FFFFFF 68.01%);
}

.rooms .card {
  background-image: url('../public/images/person.png');
  background-size: cover;
  background-position: center;
}

.recommended .content .card {
  box-shadow: 1px 6px 45px 0px rgba(0, 0, 0, 0.1);
}